.circulo1{
    width: 50px;
    height: 50px;
    /*border: 1px #000000 solid;*/
    /*border-radius: 50%;*/
    text-align: center;
    background: url("../images/cb.gif");
    margin-top: 40px;
    position: absolute;
}

.circulo2{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
}

.content{
    width: 1600px;
    height: 408px;
    border: black 1px solid;
    background: url("../images/bg.jpeg");
}